.container{
  display:flex;
  justify-content:space-between;
}
section{
  width:200px;
  height:200px;
  border: 2px solid black;
}

section:focus{
  background-color: orange;
}

/* second method */

.header{
  display:flex;
  justify-content: space-between;
}

.newbie{
   height:200px;
   width:200px;
   border:2px solid black
}

.newbie:focus{
  background-color: green;
}